* {
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 1;
}

img {
    height: 700px;
}


.text {
    float: right;
}

.bg-img1 {
    background-color: #000;
    background-size: cover;
    background-image: url(./hero.jpg);
}



.bg-img2 {
    background-color: #000;
    background-size: cover;
    background-image: url(./chair-1.jpg);
}

.bg-img3 {
    background-color: #000;
    background-size: cover;
    background-image: url(./customers.jpg);
}